<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="qna">
  <select id="listAll" 
  resultType="com.example.combackhome.model.qna.dto.QnaDTO">
		<include refid="paging_header" />
			select bno,title,writer,name,regdate,viewcnt,show
  				,(select count(*) from reply where bno=b.bno) cnt					
			from board b, team_join t
			<include refid="search" />
			order by bno desc   
		<include refid="paging_footer" />
	</select>
	<sql id="paging_header">
		select *
		from (
		    select rownum as rn, A.*
		    from (	
	</sql>
	<sql id="paging_footer">
		    ) A
		) where rn between #{start} and #{end}	
	</sql>
  
  <insert id="insert">
    insert into board (bno,title,content,writer) values
    (seq_board.nextval, #{title}, #{content}, #{writer})
  </insert>
  
  
  <!-- 레코드 갯수 계산 -->
  <select id="countArticle" resultType="int">
    select count(*)
    from board b, team_join t
    <include refid="search" />
  </select>
  
  <sql id="search">
    		<choose>
			<when test="search_option != 'all' ">
				where b.writer=t.userid 
				    and show='Y'
				    and ${search_option} like #{keyword}			
			</when>
			<otherwise>
				where b.writer=t.userid 
				    and show='Y'
				    and (name like #{keyword} 
				        or title like #{keyword}
				        or content like #{keyword} )			
			</otherwise>
		</choose>
  </sql>
  
  
  <!-- 조회수 증가 처리  -->
  <update id="increaseViewcnt">
    update board set viewcnt=viewcnt+1
    where bno=#{bno}
  </update>	
  
  <select id="read" 
  resultType="com.example.combackhome.model.qna.dto.QnaDTO">
    select bno,title,regdate,content,viewcnt,name,writer 
		from board b, team_join t
		where b.writer=t.userid and bno=#{bno}	
  </select>
  

  
  <!-- 게시물 내용 수정 -->
  <update id="update">
    update board
    set title=#{title}, content=#{content}
    where bno=#{bno}
  </update>
  

  
  <!-- 게시물 삭제 -->
  <delete id="delete">
    update board set show='N' where bno=#{bno}
  </delete>
</mapper>














